@page
@using System.Runtime.InteropServices.ComTypes
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model BreakfastBuffet.Pages.KitchenModel
@{
}

<div>
  <h1>Welcome to the Kitchen</h1> <br/>
  <p>
    Here you can see how many people (adults and children) <br/>
    have reserved a spot at breakfast, have shown up and <br/>
    how many have yet to check in.
  </p>
  <form method="post">
    <label> Date </label>
    <input asp-for="Input.CurrentDate" type="date"/>
    <button type="submit"> Request Serving</button>
  </form>
  <div>
    <p id="adultReservation"></p>
  </div>
</div>

<div>
  <h3>Total Adults: @ViewData["Adult"]</h3><br/>
  <h3>Total Children: @ViewData["Children"]</h3><br/>
  <h3>Total Reservation @ViewData["Total"]</h3><br/>
  <h3>Checked In Adults: @ViewData["CheckedInAdult"]</h3><br/>
  <h3>Checked In Children @ViewData["CheckedInChildren"]</h3><br/>
  <h3>Remaining Adults: @ViewData["RemainingAdult"]</h3><br/>
  <h3>Remaining Children: @ViewData["RemainingChildren"]</h3><br/>
  <h3>Total Remaining: @ViewData["RemainingTotal"]</h3>
</div>

<script src="js/signalr/dist/browser/signalr.js"></script>
<script src="js/Receiver.js"></script>
